.font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main {
    display: flex;
    gap: 900px;
    justify-content: center;
    padding-top: 30px;
}

.cart {
    display: flex;
    gap: 30px;
}

.main2 {
    display: flex;
    gap: 440px;
    padding-top: 70px;
    justify-content: center;
    padding-bottom: 30px;

}

.search {
    display: flex;
    background-color: rgb(215, 221, 227);
    gap: 20px;
    border: px solid;
    border-radius: 30px;
    padding-top: 8px;
    padding-left: 10px;
    color: gray;
    width: 300px;
    height: 30px;

}

.a1 {
    display: flex;
    gap: 80px;
}

.a2 {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.logo {
    display: flex;
    gap: 40px;
}

.a3 {
    display: flex;
    gap: 50px;
}

.shop {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
}
.last{
    background-color: whitesmoke;
    padding-top: 50px;
}
.main11{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.d1{
    display: flex;
    gap: 20px;
}
.d2{
    padding-top: 10px;
}
.d3{
    padding-top: 30px;
}
.fort{
    display: flex;
    gap: 50px;
}
.social-media{
    display: flex;
    gap: 20px;
}
.main12{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    padding-bottom: 105px;
}
.d4{
    border: 1px solid lightslategrey;
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.d5{
    padding-top: 30px;
}
.d6{
    text-align: center;
    color: lightslategrey;
}
.h1{
    margin-bottom: 100px;
}
.b{
    display:  flex;
    justify-content: center;
    gap: 100px;
}
.b1{
    color: lightslategray;
    padding-top: 20px;
}
.b3{
    height:40px;
     width:700px;
     margin-top: 20px;
}
.b4{
    height:200px;
     width:700px;
     margin-top: 20px;
}
